<div class="modal fade in" style="display: block">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      {{#if header}}
        <div class="modal-header">
          <h4 class="modal-title">
            {{header}}
          </h4>
          <button class="close" type="button" aria-label="close" {{action "close"}}>&times;</button>
        </div>
      {{/if}}

      <div>
        {{#if submit}}
          <form class="form-horizontal" {{action "sendAction" submit}}>
            <div class="modal-body">
              {{yield}}
            </div>
          </form>
        {{else}}
          <div class="modal-body">
            {{yield}}
          </div>
        {{/if}}
      </div>

      <div class="modal-footer">
        {{#each buttons}}
          <button {{bind-attr class=":btn className"}} {{action "sendAction" action}}>{{label}}</button>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop in"></div>
